@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #07071A;
    --grey_500: #21293A;
    --grey_400: #4A5466;
    --grey_300: #97A3B7;
    --purple: #7B2488;
    --violet: #7429C6;
    --pink: #C951E7;
    --white: #F2F5F9;
}

body {
    background-image: url(../images/bg-guess-the-word.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    background: linear-gradient(135deg, var(--black) 0%, var(--grey_500) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

#word_to_guess {
    height: 64px;
    margin-top: 28px;
    background-color: var(--grey_400);
    color: var(--grey_300);
    box-shadow: 0 4px var(--black);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    letter-spacing: 16px;
    font-weight: 600;
    width: 300px;
}

#word_input {
    margin-top: 56px;
    display: flex;
    gap: 8px;
}

.letter {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--grey_400);
}

.letter_selected {
    border-color: var(--purple);
    position: relative;
}

.letter_selected:empty::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    width: 12px;
    height: 2px;
    bottom: 23%;
    left: calc(50% - 6px);
    animation: twinkle 1s infinite;
}

@media (min-width: 1024px) {
    .game {
        padding: 32px;
    }

    #word_to_guess {
        width: 400px;
    }

    .letter {
        width: 56px;
        height: 56px;
        font-size: 32px;
    }

    .letter_selected:empty::after {
        width: 16px;
        height: 3px;
        left: calc(50% - 8px);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.incorrect_animation {
    animation: shake .5s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.btns_container {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.btn {
    cursor: pointer;
    outline: none;
    background-color: var(--pink);
    color: var(--white);
    border: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 8px;
    box-shadow: 0 4px var(--purple);
    transition: all .2s;
}

.btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.state_data {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 24px;
}

.state_data > div {
    color: var(--grey_400);
    font-weight: 600;
}

.mistakes_container span {
    color: var(--grey_300);
}

.tries_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tries {
    display: flex;
    gap: 6px;
}

.try {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey_400);
}

.marked_try {
    background-color: var(--violet);
}